<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>表單控件綁定</title>

        <script src="../js/vue.min.js"></script>
        <script src="../node_modules/vue-resource/dist/vue-resource.min.js"></script>
    </head>
    <body>

        <div id="demoList">
            <h1>input</h1>
            <input v-model="message"placeholder="edit me">
            <p>Message is：{{ message }}</p>
            <h1>textarea</h1>
            <span>Multiline message is:</span>
            <p style="white-space: pre">{{ message1 }}</p>
            <br>
            <textarea v-model="message1" placeholder="add multiple lines"></textarea>
            <h1>checkbox</h1>
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{checked}}</label>
            <h1>多選checkbox</h1>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">mike</label>

            <br>

            <span>Checked names: {{ checkedNames }}</span>

            <h1>單選按鈕</h1>
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked:{{picked}}</span>
            <h1>選擇列表</h1>
            <select v-model="selected">
              <option>A</option>
              <option>B</option>
              <option>C</option>

            </select>
            <span>Selected: {{selected}}</span>


        </div>

        <script>
            // var apiURL = 'https://api.github.com/repositories/11730342/commits?per_page=5&sha=';

            var demoList = new Vue({

                el: '#demoList',

                data: {
                    message: '',
                    message1: '',
                    checked: false,
                    checkedNames: [],
                    picked:'',
                    selected:''

                },
            });
        </script>
    </body>
</html>
